#postsList {
		list-style-type: none;
		margin: 0;
		padding: 0;
		}
#postsList li {
			padding: 10px;
			background-color: var(--secondary-color);
			border-bottom: 1px solid var( --tertiary-color);
			}
	main button {
		padding: 10px;
		border: none;
		cursor: pointer;
		width: 100%;
		opacity: 0.9;
	}
	#addBtn {
		background-color: var(--primary-color);
		color: var(--secondary-color);
	}
	#loginBtn, #logoutBtn {
		background-color: var(--secondary-color);
	}
	.editBtn {
		background-color: var(--quaternary-color);
	}
	.delBtn {
		background-color: var(--tertiary-color);
		color: var(--secondary-color);
	}
	#logInForm {
		border-radius: 5px;
		padding: 20px;
		margin: 5px;
	}
	#logInForm 
	input[type=text], input[type=password] {
	  width: 100%;
	  max-width: 200px;
	  padding: 12px 20px;
	  margin: 8px 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  box-sizing: border-box;
	}
	#emailInput, #passwordInput {
		padding: 10px;
		margin: 8px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}
	main button:hover {
		opacity: 1;
	}
	.postTitle {
		font-size: 1.5em;
		font-weight: bold;
	}
	main button:focus {
		outline: none;
	}
	main button:active {
		opacity: 0.5;
	}
	dialog button {
		padding: 10px;
 		cursor: pointer;
		width: 100%;
		opacity: 0.9;
	}
	#addOkay, #editOkay, #deleteOkay {
		background-color: #4CAF50;
		color: white;
	}
	#addCancel, #editCancel, #deleteCancel {
		background-color: #c7e7c8d2;
	}
